@model ITIDotNetMvc.Models.Entites.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h2>@Model.Name</h2>

<h1>@ViewData["Msg"]</h1>
<h1>@ViewData["Temp"]</h1>
<h1>@ViewData["Brch"]</h1>

<select class="form form-control">
    @foreach (var item in (List<String>)ViewData["Brch"]!)
    {
        <option>@item</option>
    }
</select>
